@tailwind base;
@tailwind components;
@tailwind utilities;


/* #tsparticles { 
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0;
    margin: 0;
    z-index: 0; 
    
} */
#tsparticles {
    height: 500px;
    width: 800px;
    border: 1px solid green;
 }
 #hello{
    color: red;
 }